<header class="page-header">
  <h2>收银台</h2>
</header>
<section class="panel">
  <div class="panel-body">
    <div class="invoice">
      <header class="clearfix">
        <div class="row">
          <div class="col-sm-9 mt-md">
            <h2 class="h2 mt-none mb-sm text-dark text-weight-bold">收银台</h2>
            <h4 class="h4 m-none text-dark text-weight-bold">#<%= @tab.formatted_sequence %></h4>
          </div>
          <div class="col-sm-3 mt-md mb-md">
            <div class="table-responsive">
              <table class="table table-bordered mb-none table-checkout-user">
                <tbody>
                  <tr>
                    <td><i class="fa fa-user"></i></td>
                    <td><%= @tab.user.name %></td>
                  </tr>
                  <tr>
                    <td><i class="fa fa-phone"></i></td>
                    <td><%= porto_blank(@tab.user.phone) %></td>
                  </tr>
                  <tr>
                    <td><i class="fa fa-clock-o"></i></td>
                    <td><%= porto_datetime(@tab.entrance_time) %></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </header>
      <div class="table-responsive">
        <table class="table invoice-items">
          <thead>
            <tr class="h4 text-dark">
              <th id="cell-id"     class="text-weight-semibold">#</th>
              <th id="cell-item"   class="text-weight-semibold">Item</th>
              <th id="cell-desc"   class="text-weight-semibold">Description</th>
              <th id="cell-price"  class="text-center text-weight-semibold">Price</th>
              <th id="cell-qty"    class="text-center text-weight-semibold">Quantity</th>
              <th id="cell-total"  class="text-center text-weight-semibold">Total</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>123456</td>
              <td class="text-weight-semibold text-dark">Porto HTML5 Template</td>
              <td>Multipourpouse Website Template</td>
              <td class="text-center">$14.00</td>
              <td class="text-center">2</td>
              <td class="text-center">$28.00</td>
            </tr>
            <tr>
              <td>654321</td>
              <td class="text-weight-semibold text-dark">Tucson HTML5 Template</td>
              <td>Awesome Website Template</td>
              <td class="text-center">$17.00</td>
              <td class="text-center">1</td>
              <td class="text-center">$17.00</td>
            </tr>
          </tbody>
        </table>
      </div>
    
      <div class="invoice-summary">
        <div class="row">
          <div class="col-sm-4 col-sm-offset-8">
            <table class="table h5 text-dark">
              <tbody>
                <tr class="b-top-none">
                  <td colspan="2">Subtotal</td>
                  <td class="text-left">$73.00</td>
                </tr>
                <tr>
                  <td colspan="2">Shipping</td>
                  <td class="text-left">$0.00</td>
                </tr>
                <tr class="h4">
                  <td colspan="2">Grand Total</td>
                  <td class="text-left">$73.00</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="text-right mr-lg">
      <a href="#" class="btn btn-default">Submit Invoice</a>
      <a href="pages-invoice-print.html" target="_blank" class="btn btn-primary ml-sm"><i class="fa fa-print"></i> Print</a>
    </div>
  </div>
</section>